html,body{
			width:100%;
			height:100%;
			margin:0px;
			border:0px;
			display:block; /*no floating*/
		}

.container {
  position: absolute;
  width: 100px;
  height:100px;
  max-width: 100px;
  top: 5%;
  left: 92.5%;
  transform: translateX(-50%) translateY(-10%);
}
.logo2 {
  display: block;
  width: 100px;
  height: 100px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .01s ease;
  background-color: red;
}
.container:hover .overlay {
  opacity: 1;
}
.logo{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
}

.Home{
	left:4%;
	top:5%;
	transform: translateX(-50%) translateY(50%);
	font-size:100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	background-color:#DCDCDC;
	color:black;
	position: relative;
}
.Home:hover{
	background:#696969;
	color:white;
	box-shadow: 0 1px 2px 0 #E9F5F9, 0 2px 5px 0 #E9F5F9;
}