html,body{
			width:100%;
			height:100%;
			margin:0px;
			/*border:0px;*/
      /*overflow: scroll;*/
      /*position: absolute;*/
      		/*display:block; no floating*/
}

.sideList{
  font-size:17px;
}

.aboutus{
  position:absolute;
  top:570px;
  width:100px;
  height:30px;
  font-size:15px;
  background-color: transparent;
  color:white;
  border:none;
}

#aboutus1{
  left:0px;
}
#aboutus2{
  left:100px;
}
#aboutus3{
  left:200px;
}

.line{
	position:absolute;
	top:210px;
	width:300px;
}

.distribution-list{
  position: absolute;
  top:240px;
  left: 30px;
  text-align:center;
}

.dList, .ab{
	text-decoration: none;
	color:white;
	font-family: "Lucida Sans Unicode";
}
#b1:hover{
	color:#40E0D0;
}
#b2:hover{
	color:#EE82EE;
}
#b3:hover{
	color:#6A5ACD;
}
#b4:hover{
	color:#CD853F;
}
#b5:hover{
	color:#90EE90;
}

.bg-white{
	width: 100%;
	left:300px;
	position:absolute;
	height:100%;
	top:0px;
	border-top:0;
	background-color: white; 
  margin:0;
}

.container {
  position: absolute;
  width: 160;
  height: 200;
  left: 70px;
}
.logo2 {
  display: block;
  width: 160px;
  height: 200px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .01s ease;
}
.container:hover .overlay {
  opacity: 1;
}
.logo{
  width: 160px;
  height: 200px; 
}

.h1{
  position:absolute;
  top:10px;
  left:500px;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.symbol{
  position: absolute;
  left:400px;
	color:black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
}
.symbol{
  top:300px;
}
#error1,#error2,#error3{
   position: absolute;
  left:600px;
  color:rgb(117, 23, 23);
  border:none;
  background-color:transparent;
  width: 180px;
}

#explain p{
  font:"Lucida Sans Unicode";
  position: absolute;
  left:300px;
  top:100px;
  width:100%;
}





  
