html,body{
			width:100%;
			height:100%;
			margin:0px;
			border:0px;
      		/*display:block; no floating*/
      		/*position: fixed;*/
}

.Binomial,.Geometric,.Negative_binomial,.Hypergeometric,.Possion{
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
	top:50%;
	left:50%;
	width:300px;
	margin: 0 auto;
	font-size:100%;
	color:black;
	border:2px solid white;
	position: relative;
	transform: translateX(-50%) translateY(1000%);
}
.Geometric:hover,.Hypergeometric:hover,.Negative_binomial:hover,.Binomial:hover,.Possion:hover{
	color:white;
}

.Binomial:hover{
	background:#6B8E23;
	border:2px solid #6B8E23;
}

.Geometric:hover{
	background:#CB7123;
	border:2px solid #CB7123;
}

.Hypergeometric:hover{
	background:#833D3F;
	border:2px solid #833D3F;
}

.Negative_binomial:hover{
	background:#484941;
	border:2px solid #484941;
}

.Possion:hover{
	background:#203C54;
	border:2px solid #203C54;
}

.logoContainer,.titleContainer{
  position: absolute;
  height:100px;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
}
.overlay, .overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .01s ease;
}
.logoContainer:hover .overlay, .titleContainer:hover .overlay1 {
  opacity: 1;
}
.logo, .title1{
  height: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
}
.logo2, .title2 {
  display: block;
  height: 100px;
}

.logoContainer{
  width: 100px;
  max-width: 100px;
  top: 50px;
}
.logo2 {
  width: 100px;
}
.logo{
  width: 100px;
  top: 10%;
}

.titleContainer{
  width:400px;
  max-width: 400px;
  top:175px;
}
.title2 {
  width:400px;
}
.title1{
  width:400px;
  top: 10%;
}
	