html,body{
			width:100%;
			height:100%;
			margin:0px;
			border:0px;
      		/*display:block; no floating*/
      		/*position: fixed;*/
}

.landingPageContainer {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

.logoContainer {
  display: block;
  text-align:center;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../image/logo.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
  padding: 0.5em;
  height:100px;
}

.titleContainer {
  display: block;
  text-align:center;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../image/title1.jpg");
  background-repeat: no-repeat;
  background-size: 400px 100px;
  background-position: center;
  padding: 0.5em;
  height:100px;
}

.logoContainer:hover {
  background-image: url("../image/logo2.jpg");
}

.titleContainer:hover {
  background-image: url("../image/title2.jpg");
}

.optionsContainer {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.Binomial,.Geometric,.Negative_binomial,.Hypergeometric,.Possion{
	font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  font-size:1.1em;
	width:300px;
	color:black;
	border:2px solid white;
}
.Geometric:hover,.Hypergeometric:hover,.Negative_binomial:hover,.Binomial:hover,.Possion:hover{
	color:white;
}

.Binomial:hover{
	background:#6B8E23;
	border:2px solid #6B8E23;
}

.Geometric:hover{
	background:#CB7123;
	border:2px solid #CB7123;
}

.Hypergeometric:hover{
	background:#833D3F;
	border:2px solid #833D3F;
}

.Negative_binomial:hover{
	background:#484941;
	border:2px solid #484941;
}

.Possion:hover{
	background:#203C54;
	border:2px solid #203C54;
}
